@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {

    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #353535;
}

strong {
    color: white;

}
strong:hover {
    cursor: pointer;
    
}

#container {
    margin: 0 auto;
    width: 1100px;
    padding: 0 10px;

}

.listao-container {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
}

.content-border {
    border: 1px solid #EAEAEA;

}

.bom-dia{
    width: 100%;
    overflow: hidden;
}
.bom-dia .airi {
    background-image: url(teste.png);
    height: 300px;
    width: 100%;
    background-position-y: 40%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-container {
    background-color: white;
}

.list-block {
    min-height: 900px;
}

.list-title {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #B62743;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-title h2{
    color: white;
    font-weight: bolder;
    font-size: 18px;

}

header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, p {
    color: white;
    font-weight: 400;
}

h1 {
    font-size: 22   px;
}


body {
    background-image: url(bg.jpg);
    background-repeat: repeat;
    background-position: 50%;
    backdrop-filter: brightness(.6);
    background-size: 70%;
    min-height: 100%;
}
body .quadrado-contraste{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #B62743;
    width: 100%;
    height: 8%;
}

table {
    font-size: 14px;
    border: transparent;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    border-bottom: 1px solid #EAEAEA;

}

tr .item-title {
    position: relative;
    text-align: left;
    padding-left: 16px;
    min-width: 200px;
}
td.item-title:hover::after {
    content: 'Remover';
    position: absolute;
    margin-right: 50px;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    background-color: rgba(182, 39, 67, .9);
    border: 2px solid #C44961;
    border-radius: 4px;
    font-size: 9px;
    color: white;
}

tr .item-number {
    max-width: 50px;
    padding: 0;
}

td.item-title {
    color: #B62743;
}
td.item-highlight {
    color: #276FB6;
}
/*temporario favor retirar urgentemente */
td.item-title:hover {
    cursor: pointer;
}
/*temporario favor retirar urgentemente */

td {
    font-weight: bold;
    padding: 20px 0px;
}

th {
    background: #F3F3F3 url("bar-table-header.png") no-repeat right 7px / 1px 30px;
    padding: 14px 16px;
    vertical-align: middle;
    
}
th:last-child {
    background: #F3F3F3;
    padding: 14px 16px;
    vertical-align: middle;
    
}

.add-hentai {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC2C4B;
    transition: all .2s linear;
}

.add-hentai img {
    width: 18px;
    height: 18px;
}

.add-hentai:hover {
    opacity: .9;
    cursor: pointer;
}

.popup-wrapper {
    position: absolute;
    width: 800px;
    height: 270px;
    background-color: white;
    box-shadow: 0px 0px 40px -4px rgba(0, 0, 0, .323);
    z-index: 99;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-shadow {
    visibility: hidden;
    background:rgba(0,0,0,.2);
    display:block;
    height:100%;
    position:fixed;
    text-align: left;
    top:0;
    width:100%;
    z-index:10000;
}
.popup-title {

    font-weight: 300;
    font-size: 22px;
    color: #4B4F55;
}

.list-input {
    display: flex;
    flex-direction: column;
}

.list-input label {
    margin-top: 25px;
    color: #6D7176;
    font-weight: 400;
    font-size: 16px;
}

.list-items-box{
    display: flex;
    margin: 20px 0;
}
.flexbox-desnecessario{
    display: block;
}

.list-input input {
    color: #6D7176;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    height: 30px;
    margin-right: 10px;
    background-color: #F0F3F8;
    border: 1px solid rgba(0, 0, 0, .15);
}
.label-titulo{
    width: 400px;
}
.label-num{
    width: 40px;
}

.list-input .submitButton {
    background-color: #B62743;
    width: 250px;
    height: 45px;
    align-self: center;
    margin-top: 15px;
    color: white;
    font-weight: 600;
}
.separator {
    position: absolute;
    height: 0px;
    bottom: 21px;
    width: 100%;
    z-index: -3;
    border-bottom: 1px solid  rgba(0, 0, 0, .35);
}

.list-input .submitButton:hover {
    cursor: pointer;
}

.list-input-container {
    width: 90%;
}

footer {
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #B62743;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span {
    color: #DA93A1;
    font-size: 12px;
}