@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {

    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #353535;
}

h1 {
    font-size: 30px;
}

h2{
    color: white;
    font-weight: bolder;
    font-size: 16px;

}

strong {
    color: white;

}
strong:hover {
    cursor: pointer;
    
}

#container {
    margin: 0 auto;
    width: 1100px;
    padding: 0 10px;

}

.listao-container {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
}

.content-border {
    border: 1px solid #EAEAEA;
}

.bom-dia{
    overflow: hidden;
}

.bom-dia div {
    background-image: url(teste.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
}

.list-block {
    min-height: 900px;
}

.list-title {
    width: 100%;
    height: 35px;
    background-color: #B62743;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, p {
    color: white;
    font-weight: 400;
}

body {
    background-image: url(bg.png);
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100%;
}

body .quadrado-contraste{
    position: fixed;
    z-index: -1;
    top: 0;
    background-color: #B62743;
    width: 100%;
    height: 11%;
}

table {
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    border-bottom: 1px solid #EAEAEA;

}

tr .item-title {
    font-size: 13px;
    position: relative;
    text-align: left;
    padding-left: 16px;
    min-width: 200px;
}
td.item-title:hover::after {
    content: 'Remover';
    position: absolute;
    right: 15;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    background-color: #BD3C55;
    font-size: 9px;
    color: white;
}

td:first-child:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1;
    border-left: 3px solid #276FB6;
    height: 99%;
}
td:first-child {
    position: relative;
}

tr .item-number {
    max-width: 50px;
    padding: 0;
}

td.item-title {
    color: #B62743;
}
td.item-highlight {
    color: #276FB6;
}

td.item-title:hover {
    cursor: pointer;
}

td {
    font-weight: bold;
    padding: 20px 0px;
}

th {
    background: #F3F3F3 url("bar-table-header.png") no-repeat right 7px / 1px 30px;
    padding: 14px 16px;
    
}
th:last-child {
    background: #F3F3F3;
    padding: 14px 16px;
    
}

.add-game {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC2C4B;
    transition: all .2s linear;
}

.add-game img {
    width: 16px;
    height: 16px;
}

.add-game:hover {
    background-color: #c22a49;
    cursor: pointer;
}

.popup-wrapper {
    position: absolute;
    width: 800px;
    height: 270px;
    background-color: white;
    box-shadow: 0px 0px 40px -4px rgba(0, 0, 0, .323);
    z-index: 5;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-shadow {
    visibility: hidden;
    background:rgba(0,0,0,.3);
    display: block;
    height:100%;
    position:fixed;
    top:0;
    width:100%;
    z-index: 5;
}
.popup-title {

    font-weight: 300;
    font-size: 20px;
    color: #4B4F55;
}

.list-input {
    display: flex;
    flex-direction: column;
}

.list-input label {
    margin-top: 25px;
    color: #6D7176;
    font-weight: 400;
    font-size: 16px;
}

.list-items-box{
    display: flex;
    margin: 20px 0;
}
.flexbox-desnecessario{
    display: block;
}

.list-input input, select {
    color: #6D7176;
    font-size: 14px;
    text-align: center;
    height: 30px;
    margin-right: 10px;
    background-color: #F0F3F8;
    border: 1px solid rgba(0, 0, 0, .15);
}
.list-input #score {
    width: 150px;
}
.label-titulo{
    width: 300px;
}
.label-num{
    width: 40px;
}

.list-input .submit-button {
    background-color: #B62743;
    width: 250px;
    height: 45px;
    margin-top: 15px;
    color: white;
    font-weight: 600;
}
.separator {
    position: absolute;
    height: 0px;
    bottom: 21px;
    width: 100%;
    z-index: -3;
    border-bottom: 1px solid  rgba(0, 0, 0, .35);
}

.list-input .submit-button:hover {
    cursor: pointer;
}

.list-input-container {
    width: 90%;
}

.footer-block {
    padding: 15px 0;
    text-align: center;
    background-color: #B62743;
}
footer span {
    color: #DA93A1;
    font-size: 11px;
}